*{box-sizing: border-box;}
:root {
    --color:#FF4D51;
    --shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
    font-family: 'Roboto', sans-serif; 
}
.checked {color:var(--color);}

.col{
    flex-direction: column;
    width: 585px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 600px;
    /* use height to use align items propertys */
    align-items: center;
}
.card{
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    border: 1px solid grey;
    box-shadow: var(--shadow);
}

.header{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin-bottom: 40px;
    /* justify-content: space-between; */
}
.details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
}

.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: auto;
}
#name{
    font-size: 25px;
    font-weight: bolder;
    text-transform:uppercase;
}
p{
    font-size: 10px;
    color: grey;
    margin: 0px;
}
.rating{
    margin-top: 5px;
}
 
.sect {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    margin: 10px;
}
 .red-sect{
    background-color: var(--color);
    color: white;
} 
 .white-sect{
    background-color: white;
    border: 1px solid var(--color);
    color:var(--color);
    margin-top: 20px;
} 
.text{
    display: flex;
    justify-content: end;
}
.colored{
    color: var(--color);
}
input{
    width: 400px;
    text-align: center;
    height: 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 0px solid;
    box-shadow: var(--shadow);
}
input:focus{
    outline: none;
}
button{
    background-color: var(--color);
    color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100px;
    height: 50px;
    border: 0px solid;
    margin-right: 0px;
    box-shadow: var(--shadow);
}
/* slidshow  */
.slideshow { 
    position: relative; 
    width: 280px; 
    height: 365px;
    /* display: flex;
    flex-direction: column; */
}

.slideshow > div { 
    position: absolute;    
}
.col > h1{
    font-size: 50px;
}
.col > p{
    color:black; 
    font-size: 35px; 
    margin-bottom: 20px;
}
@media only screen and (max-width: 1200px ) {
    .container {
      justify-content: space-around;
      align-items: center;
      align-content: center;
      height:609px;
      width: 100%;
    }
    #name{
        font-size: 20px;
    }
    .header{
        justify-content: center;
        align-items:flex-start;
        align-content: space-around;
        width: 300px;
        margin-bottom: 40px;
    }
    .card{
        width: 300px;
        height: 300px;
        margin-right: 20px
    }
    .card img{
        width: 70px;
        height: 70px;
        margin-right: 20px;
    }
    .sect{
        /* display: none; */
        width: 220px;
        height: 40px;
        margin-right: auto;
        margin-left: auto;
        font-size: 13px;
    }
    .col{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 450px;
    }
    input{
        width:250px;
    }
    .col > p{
        font-size: 20px; 
        margin-bottom: 20px;
    }
    .col > h1 {
        font-size: 37px;
    }
  }



@media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* align-content: flex-start; */
      height:609px;
    }
    #name{
        font-size: 20px;
    }
    .header{
        justify-content: center;
        align-items:flex-start;
        align-content: space-around;
        width: 300px;
        margin-bottom: 40px;
    }
    .card{
        width: 300px;
        height: 300px;
        margin-left: -20px
    }
    .card img{
        /* display: none; */
        width: 70px;
        height: 70px;
        margin-right: 20px;
    }
    .sect{
        /* display: none; */
        width: 220px;
        height: 40px;
        margin-right: auto;
        margin-left: auto;
        font-size: 13px;
    }
    .col{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;

    }
    .details{
        font-size: 10px;
        /* margin-left: 0px; */
    }
    input{
        width: 180px;
    }
    .col > p{
        color:black; 
        font-size: 15px; 
        margin-bottom: 20px;
    }
    .col > h1{
        font-size: 20px;
    }
  }



  @media only screen and (max-width: 300px) {
    input{
        width: 104px;
    }
  }
  @media only screen and (max-width: 320px) {
    input{
        width: 143px;
    }
    .card{
        width: 275px;
        height: 300px;
        margin-left: -3px;
        margin-top: 10px;
    }
    .container {
        /* align-content: flex-start; */
        height:550px;
      }

  }
  @media only screen and (max-width: 319px) {
    input{
        width: 175px;
    }
    .card{
        width: 275px;
        height: 300px;
        margin-left: -3px;
        margin-top: 10px;
    }
    .container {
        /* align-content: flex-start; */
        height:550px;
      }
  }

 